.ugly{    
    font-size: large;
    color: rgb(241, 66, 7);
}

.parent {
    display: flex;
    /* border: 1px solid black;     */
    padding: 2rem 2rem;   
} 
.child {
    flex:1;
    display: inline-block;    
    border: 2px solid blueviolet;
    margin: 10px;
    padding: 1rem 1rem;    
} 
.sports{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 93, 28);
}
#image{
    max-width: 100%;
    height:auto; 
}
.purchase{
    padding: 15px;
    text-align: left;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(89, 103, 223)
}
#frd_img{
    margin: 30px;
    max-width: 100%;
    height: 250px;
}
.button1{
    margin-top: 4em;
    margin-right: 4em;
    padding: 5px 15px;    
    background-color: #008CBA;
    color:white;
    border-radius: 12px;
    position:absolute;
    top:0;
    right:0;
    
}
a:link, :visited, :hover, :active{
    text-decoration: none;    
}
.foot{
    text-align: center;
    color:rgb(132, 95, 3);
    font-size: small;
}
